<h1><%= @doctor.name %>'s show page</h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<br>
<p>Hospital: <%= @doctor.hospital.name %></p>

<strong>Patients: </strong>
<% @doctor.patients.each do |patient| %>
<div id="patient-<%= patient.id %>">
  <p><%= patient.name %> <%= button_to "Remove patient", doctor_patient_path(@doctor, patient), method: :delete %></p>
  </div>
<% end  %>